<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Part Two</h1>
    <input id="title" placeholder="Enter a title" />
    <input id="author" placeholder="Enter author" />
    <input
      id="status"
      placeholder="Enter reading status (true/false"
      style="width: 200px"
    />
    <button id="btn">Submit</button>
    <script src="../src/partTwo.js"></script>
  </body>
</html>
